<div class="row">
  <div class="col-9">
    <input type="text" [(ngModel)]="newPokemonName" class="form-control" />
  </div>
  <div class="col">
    <button class="btn btn-primary" [disabled]="isButtonDisabled" (click)="onAddPokemonBtnClick()">Ajouter</button>
  </div>
</div>

<div class="mt-3" *ngIf="hasPokemonBeenAdded">
  {{ newPokemonName }} a été ajouté !
</div>

<!-- <div class="mt-3" *ngFor="let pokemon of pokemons">
  {{ pokemon }}
</div> -->

<pokedex-pokemon-item *ngFor="let pokemon of pokemons">
</pokedex-pokemon-item>


