<div class="row">
  <div class="col-9">
    <input type="text" [(ngModel)]="newPokemonName" class="form-control" />
  </div>
  <div class="col">
    <button class="btn btn-primary" [disabled]="isButtonDisabled" (click)="onAddPokemonBtnClick()">Ajouter</button>
  </div>
</div>

<div class="mt-3" *ngIf="hasPokemonBeenAdded; else noPokemon">
  {{ newPokemonName }} a été ajouté !
</div>

<ng-template #noPokemon>
  <div class="alert alert-danger">Aucun pokémon n'a été ajouté</div>
</ng-template>

<h2 class="pokemon is-{{pokemonGender}}" *ngIf="hasPokemonBeenAdded">{{ newPokemonName }}</h2>

<div class="mt-5">
  <pokedex-pokemon-item />
  <pokedex-pokemon-item />
  <pokedex-pokemon-item />
</div>

