:host {
  border-bottom: 1px solid black;
  display: block;

  &:last-child {
    border-bottom: none;
  }
}

.is-male {
  background-color: blue;
  color: white;
}

.is-female {
  background-color: pink;
  color: black;
}
